.container {
  padding: 0 20px 1rem;
  margin-top: 20px;
}

.title {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  color: #4d4d4d;
}

.articlesContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.article_image {
  min-width: 450px;
  height: 270px;
  position: relative;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  overflow: hidden; /* This ensures the image stays within the border radius */
}

.article_image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.article_text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.article_category {
  font-size: 0.9rem;
  margin-bottom: 8px;
  background-color: #e53611bf;
  width: fit-content;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.article_title {
  font-size: 1.2rem;

  margin: 0;
}

.article_image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  border-radius: 12px; /* Apply the same border radius to the overlay */
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }

  .articlesContainer {
    overflow: scroll;
  }

  .article_image {
    min-width: 300px;
    height: 200px;
  }

  .article_category {
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
  }

  .article_title {
    font-size: 1rem;
  }

  .articlesContainer {
    gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 10px 1rem;
  }

  .title {
    font-size: 1.6rem;
    text-wrap: balance;
  }

  .article_category {
    font-size: 0.7rem;
    padding: 0.3rem 0.3rem;
  }

  .article_title {
    font-size: 0.9rem;
  }
}
