.container {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  color: #4d4d4d;
}

.amenties {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 0 0.5rem 0.5rem;
  overflow-x: scroll;
}

.amenties::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.amenties::-webkit-scrollbar-track {
  background-color: #afafaf;
}

.amenties::-webkit-scrollbar-thumb {
  background-color: #f4511e;
  border-radius: 5px;
  cursor: pointer;
}

.amenties li {
  list-style: none;
  font-size: 1.1rem;
}

.amenties li:hover {
  cursor: pointer;
}

.amenities_service {
  display: grid;
  grid-template-columns: repeat(4, fit-content(90%));
  padding-left: 0.5rem;
  margin: 1rem 0 2rem;
  gap: 2rem;
}

.amenities_service li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.icon {
  margin-right: 0.5rem;
  color: #00b215;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .amenties {
    gap: 2rem;
  }

  .amenties li {
    font-size: 1rem;
  }

  .amenities_service {
    margin: 1rem 0 4rem;
    gap: 3rem;
  }

  .amenities_service li {
    font-size: 0.9rem;
  }

  .icon {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin-top: 0.5rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .amenties {
    gap: 1.6rem;
  }

  .amenties li {
    font-size: 0.9rem;
  }

  .amenities_service {
    grid-template-columns: repeat(2, fit-content(90%));
    margin: 1rem 0 2rem;
    gap: 1.5rem;
  }

  .amenities_service li {
    font-size: 0.8rem;
  }

  .icon {
    font-size: 1rem;
  }
}
