.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  color: white;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navigationContainer figure {
  position: relative;
  margin: 4px 0 0 0;
  width: 50px;
  height: 50px;
}

.navigationContainer figure img {
  width: 100%;
  height: 100%;
}

.navigationContainer ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigationContainer ul li {
  margin: 0 10px;
}

.navigationContainer ul li:nth-child(5) {
  background-color: white;
  padding: 6px 10px;
  border-radius: 4px;
}

.navigationContainer ul li:nth-child(6) {
  background-color: #f4511e;
  padding: 6px 10px;
  border-radius: 4px;
}

.navigationContainer ul li a {
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.navigationContainer ul li:nth-child(5) a {
  color: #f4511e;
}

.burgerMenu {
  display: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.burgerMenu.open {
  transform: rotate(90deg);
}

@media screen and (max-width: 430px) {
  .navigationContainer {
    padding: 0 10px;
  }

  .navigationContainer ul {
    visibility: hidden;
    flex-direction: column;
    width: 100%;
    background-color: #f4511e;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    border-radius: 8px;
  }

  .navigationContainer ul.showMenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .navigationContainer ul li {
    margin: 10px 0;
  }

  .burgerMenu {
    display: block;
  }

  .burgerMenu_icon {
    font-size: 28px;
  }

  .navigationContainer ul li:nth-child(6) {
    background-color: white;
  }

  .navigationContainer ul li:nth-child(6) a {
    color: #f4511e;
  }
}
